
<!-- inicio do footer -->
<div class="footer">
	<div class="container">
		<p class="para"> 
			Sorevi é uma empresa fictícia "criada" apenas para aprender desenvolvimento Web, portanto não pague o boleto gerado ao fim da compra. Este site foi desenvolvido para testar e mostrar minhas habilidades em programação. Foram utilizadas as seguintes ferramentas: PHP, MySQL, JavaScript, Bootstrap, AdminLTE e Composer para gerenciar as seguintes dependências: Slim, PHPMailer e RainTPL.
		</p>

		<p class="para">
			O sistema aborda a maior parte das funcionalidades de um e-commerce, desde o cadastramento de um cliente até a geração do boleto.
		</p>

		<div class="desenvolvido">
		<!--	<a href="http://www.fb.com/vitor.aderaldo" target="_blank"> -->
				<img src="resources/site/img/Vitor-Logo2.png">          
		    	<p> Desenvolvido por: Vitor Palma Aderaldo (VPA) </p>  
	   	<!-- 	</a>   -->
		</div>
	</div>
</div>
<!-- fim do footer -->

<script src="resources/site/js/jquery-3.3.1.min.js"></script>
<script src="resources/site/js/bootstrap.min.js"></script>


</body>
</html>